/* stylesheet from patrick rayner */

/* color pallete for copy/paste */
#color-pallete{
  color: #003049;
  color: #D62828;
  color: #F77F00;
  color: #FCBF49;
  color: #EAE2B7;
}

/* .topnav {
  overflow: hidden;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a {
  color: #003049;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #003049;
  color: #FCBF49;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
}

.topnav a.active {
  background-color: #003049;
  color: white;
  } */

/* body styles */
body {
  font-family: 'ubuntu', sans-serif;
  background-color: #EAE2B7;
  color: #003049;
}

h3 {
  font-size: 1.7em;
}

/* hero-title*/
.hero-title{
  font-size: 45px;
  font-weight: 550;
  letter-spacing: -2px;
}

/* photo style*/
.profile-image{
  border: 6px solid #003049;
  border-radius: 100%;
  width: 180px;
}

.color-text-red{
  color: #D62828;
  text-decoration: none;
  font-weight: bold;
}

/* button style */
.button{
  background: #003049;
  border-radius: 15px; 
  padding: 15px; 
  cursor: pointer; 
  color: #FCBF49; 
  border: none; 
  font-size: 16px;
}

/* trybe-link */
.trybe-link{
  text-decoration: none;
  color:#D62828;
  font-weight: bold;
}